<div class="addSubtitle">
  <div class="addSubtitle-inputText">
    <div class="input-section">
      <input type="text" class="input-subtitle" id="subtitle" placeholder="click here to add subtitle" disabled>
    </div>
    <div class="btn-section">
      <button class="btn-delete" disabled>
        <img src="assets/images/icon-btn-delete-disabled.png" />
      </button>
    </div>
  </div>
  <div class="addSubtitle-slider">
    <div class="slider-bar">
      <div class="range-bar">
        <div class="handle-start"></div>
        <div class="handle-end"></div>
      </div>
    </div>
  </div>
  <div class="addSubtitle-timeBounds">
    <div class="addSubtitle-timeBounds-setTime">
      <div class="input-section">
        <input type="text" class="input-time" id="startTime" value="00:00" disabled>
      </div>
      <div class="btn-section">
        <button class="btn-setTime" disabled>
          Start Time
        </button>
      </div>
    </div>
    <div class="addSubtitle-timeBounds-separator">
      <span> - </span>
    </div>
    <div class="addSubtitle-timeBounds-setTime">
      <div class="input-section">
        <input type="text" class="input-time" id="startTime" value="03:00" disabled>
      </div>
      <div class="btn-section">
        <button class="btn-setTime" disabled>
          End Time
        </button>
      </div>
    </div>
  </div>
</div>