.main {
  display: flex;
  width: 70%;
  margin: auto;
  flex-direction: row;
  &-editor {
    display: flex;
    width: 100%;
    &-preview {
      width: 486px;
      height: 100vh;
      background-color: #1F2C3C;
      @media screen and (max-width:1024px) {
        width: 350px;
      }
    }
    &-subtitle {
      width: 100%;
    }
  }
  &-complete {
    display: none;
    width: 100%;
    &-preview {
      width: 100%;
    }
  }
  .activated {
    display: flex;
    position: absolute;
    width: 70%;
    background-color: white;
    z-index: 999;
    @media screen and (max-width: 1440px) {
      width: 85%;
    }
    @media screen and (max-width: 1280px) {
      width: 100%;
    }
  }
  @media screen and (max-width: 1440px) {
    width: 85%;
  }
  @media screen and (max-width: 1280px) {
    width: 100%;
  }
}